body
{
	background: url(../../images/homepage/bg-main.jpg) no-repeat center top 31px #5e2111;
	width: 100%;
	padding: 0;
	margin: 0;
}

#home, #services, #work, #about, #clients, #connect, #contact {
	height: 935px
}

#container {
	padding-top: 31px;
	background: url(../../images/homepage/bg-home.png) repeat-x;
}

#home #new_sign {
	width: 585px;
	height: 447px;
	position: relative;
	text-indent: -9999px;  /* in order to make text disappear (text is not displayed but still accessable by readers and crawlers) */
	margin-left: 258px;
	top: -60px;
}

#home #new_sign_background {
	background: url(../../images/homepage/sign.png) no-repeat;
	position: relative;
	width: 585px;
	height: 447px;
}

#home #moose {
	background: url(../../images/homepage/moose.png) no-repeat;
	width: 439px;
	height: 427px;
	position: relative;
	left: -24px;
	top: -15px;
}

#home #blogfrog {
	background: url(../../images/homepage/blog-frog.png) no-repeat;
	width: 376px;
	height: 220px;
	top: -210px;
	left: 695px;
	position: relative;
	display: block;
	text-indent: -9999px;
}

#home #blogfrog:hover
{
	background-position: 0 -220px;
}
