body
{
	background: url(../../images/homepage/bg-main.jpg) no-repeat center top 31px #5e2111;
	width: 100%;
	padding: 0;
	margin: 0;
}

#home, #services, #work, #about, #clients, #connect, #contact {
	height: 935px
}

#container {
	padding-top: 31px;
}

#home #moose {
	background: url(../../images/homepage/moose.png) no-repeat;
	width: 439px;
	height: 427px;
	position: relative;
}